<h1>Pessoa</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit(form)">
    <div>
        Nome:
        <input [(ngModel)]="pessoa.nome" #nome name="nome" formControlName="nome" id="nome"> - {{ pessoa.nome }}
    </div>
    <div>
        Sobrenome:
        <input [(ngModel)]="pessoa.sobrenome" #sobrenome name="sobrenome" formControlName="sobrenome"> - {{pessoa.sobrenome}}
    </div>
    <div>
        Idade:
        <input type="number" [(ngModel)]="pessoa.idade" #idade name="idade" formControlName="idade"> - {{pessoa.idade}}
    </div>
    <br>
    <div>
        <button type="submit" [disabled]="form && !form.valid">Salvar Dados</button>
    </div>

    <br><br>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Favorite food" value="Sushi">
    </mat-form-field>
</form>

{{ form.value | json }}
{{ form.valid }}
